@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

h1,
h2,
h3,
span {
  font-family: "Dela Gothic One", cursive;
}

p,
a,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2rem, 1.48rem + 2.61vw, 3.5rem);
  line-height: 1.3em;
  font-weight: normal;
  color: #000000;
}

h2 {
  font-size: clamp(1.5rem, 1.04rem + 2.28vw, 2.81rem);
  line-height: 1em;
  font-weight: normal;
  color: #000000;
}

p {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: 600;
  color: #757575;
}

a {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: 600;
  color: #757575;
}

button {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: bolder;
  color: #757575;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #f6f5f4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
nav .container {
  width: min(85%, 1200px);
  padding: 1.5em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .bar {
  display: none;
  width: 2em;
  height: 2em;
}
nav .container i {
  font-size: 12px;
  font-weight: bolder;
}
nav .container .bar i {
  font-size: 25px;
  cursor: pointer;
}
nav .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}
nav .container .links span {
  font-size: 21px;
}
nav .container .links .menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
nav .container .links .menu a {
  text-decoration: none;
}
nav .container .links .menu a:hover {
  color: #000000;
}
nav .container .links .menu .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
nav .container .links .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1em 2em;
  border-radius: 12px;
  bottom: -100px;
  right: -150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
nav .container .links .menu .dropdown-content li {
  padding: 0.3em 0;
}
nav .container .links .menu .dropdown-content a {
  font-size: 16px;
}
nav .container .links .menu .dropdown:hover .dropdown-content {
  display: block;
}
nav .container .user-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav .container .user-account .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .user-account .user-info .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  margin-right: 0.5em;
  background-color: #c3dce3;
  border-radius: 100%;
}
nav .container .user-account .user-info .profile .initial-name {
  margin: auto;
  color: #2b788b;
  font-weight: bolder;
  cursor: pointer;
}
nav .container .user-account button {
  color: #000000;
}

.menu-mobile {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: none;
}
.menu-mobile ul {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
.menu-mobile ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.menu-mobile ul a:hover {
  color: #c3dce3;
}

@media only screen and (max-width: 780px) {
  nav .container .bar {
    display: block;
  }
  nav .container .links .menu {
    display: none;
  }
  .user-account .user-info .user-name {
    display: none;
  }
  .user-account button {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */