@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

h1,
h2,
h3,
span {
  font-family: "Dela Gothic One", cursive;
}

p,
a,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2rem, 1.48rem + 2.61vw, 3.5rem);
  line-height: 1.3em;
  font-weight: normal;
  color: #000000;
}

h2 {
  font-size: clamp(1.5rem, 1.04rem + 2.28vw, 2.81rem);
  line-height: 1em;
  font-weight: normal;
  color: #000000;
}

p {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: 600;
  color: #757575;
}

.p16 {
  font-size: clamp(0.75rem, 0.66rem + 0.43vw, 1rem);
  line-height: 1.5em;
  font-weight: 600;
  color: #757575;
}

a {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: 600;
  color: #757575;
}

button {
  font-size: clamp(0.88rem, 0.79rem + 0.43vw, 1.13rem);
  line-height: 1.5em;
  font-weight: bolder;
  color: #757575;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #f6f5f4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
nav .container {
  width: min(85%, 1200px);
  padding: 1.5em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .bar {
  display: none;
  width: 2em;
  height: 2em;
}
nav .container i {
  font-size: 12px;
  font-weight: bolder;
}
nav .container .bar .fa-bars-staggered {
  font-size: 25px;
  cursor: pointer;
}
nav .container .bar .fa-xmark {
  font-size: 30px;
  cursor: pointer;
}
nav .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}
nav .container .links span {
  font-size: 21px;
}
nav .container .links .menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
nav .container .links .menu a {
  text-decoration: none;
}
nav .container .links .menu a:hover {
  color: #000000;
}
nav .container .links .menu .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
nav .container .links .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1em 2em;
  border-radius: 12px;
  bottom: -100px;
  right: -150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
nav .container .links .menu .dropdown-content li {
  padding: 0.3em 0;
}
nav .container .links .menu .dropdown-content a {
  font-size: 16px;
}
nav .container .links .menu .dropdown:hover .dropdown-content {
  display: block;
}
nav .container .btn-telor-asin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .btn-telor-asin p {
  color: #2b788b;
  margin-right: 0.5em;
}
nav .container .user-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
nav .container .user-account .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .user-account .user-info .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  margin-right: 0.5em;
  background-color: #c3dce3;
  border-radius: 100%;
}
nav .container .user-account .user-info .profile .initial-name {
  margin: auto;
  color: #2b788b;
  font-weight: bolder;
  cursor: pointer;
}
nav .container .user-account button {
  color: #000000;
}

.menu-mobile {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  margin-top: 2em;
  display: none;
}
.menu-mobile ul {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
.menu-mobile ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.menu-mobile ul a:hover {
  color: #2b788b;
}

@media only screen and (max-width: 780px) {
  nav .container .bar {
    display: block;
  }
  nav .container .links .menu {
    display: none;
  }
  .btn-telor-asin {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-telor-asin p {
    display: none;
  }
  .user-account .user-info .user-name {
    display: none;
  }
  .user-account button {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
footer {
  background-color: #f6f5f4;
}
footer .container {
  padding: 2em;
  width: min(85%, 1200px);
  margin: auto;
}
footer .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  border-bottom: solid 1px rgb(202, 202, 202);
}
footer .container .links .menu-links,
footer .container .links .owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
footer .container .links .menu-links a,
footer .container .links .owner a {
  text-decoration: none;
  color: #bababa;
  font-size: cclamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
}
footer .container .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 1em 0;
}
footer .container .copyright .icon img {
  padding-right: 1em;
}
footer .container .copyright .copyright-text p {
  font-size: clamp(0.75rem, 0.71rem + 0.22vw, 0.88rem);
  color: #bababa;
}

@media only screen and (max-width: 780px) {
  footer {
    padding: 0.2em 0;
  }
  footer .container .copyright {
    flex-direction: column;
    gap: 1em;
  }
  footer .container .links {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30%;
  }
  footer .container .links .menu-links,
footer .container .links .owner {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
}
.btn-telor-asin {
  color: #2b788b;
  background-color: #c3dce3;
  padding: 0.7em 1.5em;
  border-radius: 1.5em;
}

.hero {
  padding: 2em 0 2em 0;
  background-color: #f6f5f4;
  overflow-x: hidden;
}
.hero .container {
  width: min(85%, 1100px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hero .container .hero-content {
  width: 50%;
  z-index: 1;
}
.hero .container .hero-content .small-header {
  color: #2b788b;
}
.hero .container .hero-content .hero-description {
  max-width: 400px;
}
.hero .container .hero-content p,
.hero .container .hero-content h1 {
  margin-bottom: 1.8rem;
}
.hero .container .hero-image {
  width: 50%;
}
.hero .container .hero-image img {
  margin-left: -120px;
  margin-top: 130px;
}
.hero .container .desc {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10%;
}
.hero .container .desc .desc-1 p,
.hero .container .desc .desc-2 p {
  text-align: center;
}
.hero .container .desc .content-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .container .desc .content-align span {
  color: #2b788b;
}

@media only screen and (max-width: 780px) {
  .hero .container {
    flex-direction: column;
  }
  .hero .container .hero-content,
.hero .container .hero-image {
    width: 100%;
  }
  .hero .container .hero-content {
    padding-top: 5em;
    margin-bottom: 2em;
    text-align: center;
  }
  .hero .container .hero-content p,
.hero .container .hero-content h1 {
    margin-bottom: 0.5rem;
  }
  .hero .container .hero-content .hero-description {
    margin: 1rem auto;
  }
  .hero .container .hero-content .desc {
    justify-content: space-around;
  }
  .hero .container .hero-content .desc .content-align {
    justify-content: start;
    margin-bottom: 0.3em;
  }
  .hero .container .hero-image img {
    width: 100vw;
    margin: auto;
  }
}
.feature {
  padding: 4em 0;
  overflow-x: hidden;
}
.feature .container {
  width: min(85%, 1200px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .container .feature-content,
.feature .container .feature-image {
  width: 50%;
}
.feature .container .feature-image img {
  margin-left: 3em;
}
.feature .container .feature-content h2 {
  max-width: 500px;
  margin-bottom: 1.8rem;
}
.feature .container .feature-content p {
  max-width: 400px;
  margin-bottom: 1.8rem;
}
.feature .container .feature-content .feature-apps {
  display: flex;
  justify-content: start;
  align-items: center;
}
.feature .container .feature-content img {
  cursor: pointer;
}
.feature .container .feature-content .sprint {
  margin-right: 1em;
}

@media only screen and (max-width: 780px) {
  .feature .container {
    flex-direction: column;
    row-gap: 2em;
  }
  .feature .container .feature-image,
.feature .container .feature-content {
    width: 100%;
  }
  .feature .container .feature-image {
    text-align: center;
  }
  .feature .container .feature-image img {
    width: 80vw;
    margin: auto;
  }
  .feature .container .feature-content {
    text-align: center;
  }
  .feature .container .feature-content .feature-apps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.feature-2 {
  background-color: #f6f5f4;
  overflow-x: hidden;
}
.feature-2 .container {
  padding-top: 4em;
  width: min(85%, 1200px);
  margin: 0 auto;
  display: flex;
  justify-content: space-betwen;
  align-items: center;
}
.feature-2 .container .feature-content {
  width: 50%;
}
.feature-2 .container .feature-content .center-content {
  margin-left: 10em;
}
.feature-2 .container .feature-image {
  width: 50%;
  overflow-y: hidden;
}
.feature-2 .container .feature-image img {
  width: 80%;
}
.feature-2 .container .feature-content h2 {
  max-width: 500px;
  margin-bottom: 1.8rem;
}
.feature-2 .container .feature-content p {
  max-width: 400px;
  margin-bottom: 1.8rem;
}
.feature-2 .container .feature-content .feature-apps {
  display: flex;
  justify-content: start;
  align-items: center;
}
.feature-2 .container .feature-content img {
  cursor: pointer;
}
.feature-2 .container .feature-content .sprint {
  margin-right: 1em;
}

@media only screen and (max-width: 780px) {
  .feature-2 .container {
    flex-direction: column;
    row-gap: 2em;
  }
  .feature-2 .container .feature-image,
.feature-2 .container .feature-content {
    width: 100%;
  }
  .feature-2 .container .feature-image {
    text-align: center;
  }
  .feature-2 .container .feature-image img {
    width: 80vw;
    margin-bottom: -0.5em;
  }
  .feature-2 .container .feature-content {
    text-align: center;
  }
  .feature-2 .container .feature-content .center-content {
    margin-left: 0;
  }
}
.feature-3 .container {
  overflow-x: hidden;
  padding: 4em 0;
  width: min(85%, 1200px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.feature-3 .container .feature-content,
.feature-3 .container .feature-image {
  width: 50%;
}
.feature-3 .container .feature-content h2 {
  max-width: 500px;
  margin-bottom: 1.8rem;
}
.feature-3 .container .feature-content p {
  max-width: 400px;
  margin-bottom: 1.8rem;
}
.feature-3 .container .feature-content .feature-apps {
  display: flex;
  justify-content: start;
  align-items: center;
}
.feature-3 .container .feature-content img {
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .feature-3 .container {
    flex-direction: column;
    row-gap: 2em;
  }
  .feature-3 .container .feature-image,
.feature-3 .container .feature-content {
    width: 100%;
  }
  .feature-3 .container .feature-image {
    text-align: center;
  }
  .feature-3 .container .feature-image img {
    width: 80vw;
  }
  .feature-3 .container .feature-content {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */