@use '../base/colors' as colors;
@use '../abstract/mixin' as mixin;

.feature-2 {
  background-color: colors.$primary-grey;
  overflow-x: hidden;
  .container {
    padding-top: 4em;
    width: min(85%, 1200px);
    margin: 0 auto;
    @include mixin.flex-box(space-betwen, center);
    .feature-content {
      width: 50%;
      .center-content {
        margin-left: 10em;
      }
    }
    .feature-image {
      width: 50%;
      overflow-y: hidden;
      img {
        width: 80%;
      }
    }
    .feature-content {
      h2 {
        max-width: 500px;
        margin-bottom: 1.8rem;
      }
      p {
        max-width: 400px;
        margin-bottom: 1.8rem;
      }
      .feature-apps {
        @include mixin.flex-box(start, center);
      }
      img {
        cursor: pointer;
      }
      .sprint {
        margin-right: 1em;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .feature-2 {
    .container {
      flex-direction: column;
      row-gap: 2em;
      .feature-image,
      .feature-content {
        width: 100%;
      }
      .feature-image {
        text-align: center;
        img {
          width: 80vw;
          margin-bottom: -4em;
        }
      }
      .feature-content {
        text-align: center;
        .center-content {
          margin-left: 0;
        }
      }
    }
  }
}
